AUTHENTICATOR_PASSWORD=your_password_here
AUTHENTICATOR_ENDPOINT=your_secret_authenticator_endpoint_here
MIXER_SECRET_PASSWORD=your_mixer_secret_password_here
JWT_SECRET=your_jwt_secret_here


NEXT_PUBLIC_SERVER_URL=www.example.com
NEXT_PUBLIC_WEBSOCKET_PROTOCOL=wss